<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Title of the document</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/slider.css">
	</head>

	<body>
		<!-- Head -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand padding-null" href="#"><img id="icon" src="img/icon.png"></img></a>
				</div>
				<ul class="nav">
					<li><a class="white_link active" href="#">About</a></li>
					<li><a class="white_link" href="#">How to Start</a></li>
					<li><button class="btn btn-blue btn-shadow">Log in</button></li>
					<li><a class="blue_link" href="#">Sign up</a></li>
				</ul>
			</div>
		</div>
		<!-- Head END -->
		<div class="container">
			<div class="content">
				<h1 class="text-center">About</h1>	
				<p>
					This site was designed as a laboratory work for discipline - the development of server applications. At the moment you can use it without any restrictions.
				</p>
				<div class="margin-40">
					<h2 class="text-center">What is it?</h2>	
					<p>
						This web service is based on the Keras deep learning library and is designed to develop and teach artificial neural networks right in the browser. When developing, we tried to follow the following principles:
					</p>
					<div class="row margin-20">
						<div class="col-lg-4">
							<h4 class="text-center">Learning in the<br>cloud</h4>
							<p class="text-center">
								This comprehensive and cutting-edge book portrays a vision of how digital media can help transform schools.
							</p>
						</div>
						<div class="col-lg-4">
							<h4 class="text-center">User-friendly<br>interface</h4>
							<p class="text-center">
								Menu-driven programs, for example, are considered more user-friendly than command-driven systems. Graphical user interfaces (GUIs) are also considered user-friendly.
							</p>
						</div>
						<div class="col-lg-4">
							<h4 class="text-center">Quick model<br>creation</h4>
							<p class="text-center">
								The modeller can verify the data, edit river cross-section features and geometry within the software, and then re-export to run in hydraulic model format.
							</p>
						</div>
					</div>
				</div>
				
				<p>
					I would like to develop this project, therefore, as a gratitude for a free resource, I accept your comments on <a href="mailto:zelinskiy.antony@volsu.ru">zelinsky.antony@volsu.ru</a>
				</p>
			</div>
		</div>
	</body>
	<footer>
		<div class="container margin-30">
			<p class="text-center">We are in social networks</p>
			<div class="center-container margin-10">
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/facebook.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/google_plus.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/youtube.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/twitter.png"></a></div>
			</div>
		</div>
	</footer>
</html>