<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Title of the document</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/slider.css">
	</head>

	<body>
		<!-- Head
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand padding-null" href="#"><img id="icon" src="img/icon.png"></img></a>
				</div>
				<ul class="nav">
					<li><a class="white_link active" href="#">About</a></li>
					<li><a class="white_link" href="#">How to Start</a></li>
					<li><button class="btn btn-blue btn-shadow">Log in</button></li>
					<li><a class="blue_link" href="#">Sign up</a></li>
				</ul>
			</div>
		</div>
		Head END -->
		<div class="container margin-40">
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div class="content">
						<div class="content-padding">
							<img class="image-max" src="img/logotip.png">
						<form>
							<div class="margin-10">
								<input type="email" class="form-control" id="InputEmail" placeholder="E-mail">
							</div>
							<div class="margin-10">
								<input type="password" class="form-control" id="InputPassword" placeholder="Password">
							</div>
							<div class="center-container">
								<a type="submit" class="btn btn-blue button-sign" href="#">Log in</a>
							</div>
						</form>
						</div>
						
					</div>
					<div class="content">
						<div class="content-padding">
							<div class="center-container">
								<label class="center-item">Don't have an account?</label>
								<a type="submit" class="btn btn-white button-sign" href="#">Sign up</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>
	</body>
	<footer>
		<div class="container margin-30">
			<p class="text-center">We are in social networks</p>
			<div class="center-container margin-10">
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/facebook.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/google_plus.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/youtube.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/twitter.png"></a></div>
			</div>
		</div>
	</footer>
</html>