<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Title of the document</title>
		<link rel="stylesheet" href="css/bootstrap.css">

		<link rel="stylesheet" href="css/slider.css">
		<link rel="stylesheet" href="css/slick.css">
		<link rel="stylesheet" href="css/slick-theme.css">
		<link rel="stylesheet" href="css/main.css">
	</head>

	<body>
		<!-- Head -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand padding-null" href="#"><img id="icon" src="img/icon.png"></img></a>
				</div>
				<ul class="nav">
					<li><a class="white_link" href="#">About</a></li>
					<li><a class="white_link" href="#">How to Start</a></li>
					<li>
						<a class="btn btn-white btn-shadow" href="#" style="margin:0">Laboratory</a>
					</li>
					<li style="margin-right:0">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle btn btn-blue btn-shadow" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Username</button>
							<ul class="dropdown-menu dropdown-menu-right menu" aria-labelledby="dropdownMenu1">
								<a class="dropdown-item" href="#">Profile</a>
								<a class="dropdown-item" href="#">Settings</a>
								<hr>
								<a class="dropdown-item" href="#">Log out</a>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- Head END -->
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="btn-content">
						<div class="manage-area">
							<h4 class="headname">Username</h4>				
						</div>
						<hr class="margin-0">
						<ul class="menu" style="box-shadow:none; padding-left:0;">
								<a class="dropdown-item" href="#">Profile</a>
								<a class="dropdown-item" href="#">Settings</a>
								<hr>
								<a class="dropdown-item" href="#">Log out</a>
						</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="content">
							<div class="btn-group manage-area">
								<a class="btn btn-bar active" href="#">Research</a>
								<a class="btn btn-bar" href="#">Semething else</a>
							</div>
						<hr class="margin-0">
						<div class="content-padding">
							<h2>Learning now</h2>
							<div class="nn-rows">
								<div class="row">
									<div class="col-lg-6">
										<a href="#" style="margin:0;">
											<div class="nn-container container-green">
												<div class="content-padding">
													<h4>Super resolution CNN</h4>
													<label>Looses: 12%</label>
													<label>Progress: 23%</label>
													<label>Remain: 9 hours</label>
												</div>
													
												<div class="nn-loader" style="width:23%"></div>
											</div>
										</a>
									</div>
									<div class="col-lg-6">
										<a href="#" style="margin:0;">
											<div class="nn-container container-green">
												<div class="content-padding">
													<h4>InceptionNet V3</h4>
													<label>Looses: 3.4%</label>
													<label>Progress: 86%</label>
													<label>Remain: 1.2 hours</label>
												</div>
													
												<div class="nn-loader" style="width:86%"></div>
											</div>
										</a>
									</div>
									<div class="col-lg-6">
										<a href="#" style="margin:0;">
											<div class="nn-container container-green">
												<div class="content-padding">
													<h4>Convolution Yu-Net-50</h4>
													<label>Looses: 37%</label>
													<label>Progress: 58%</label>
													<label>Remain: 23 hours</label>
												</div>
													
												<div class="nn-loader" style="width:58%"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
							<h2>Was ended</h2>
							<div class="nn-rows">
								<div class="row">
									<div class="col-lg-6">
										<a href="#" style="margin:0;">
											<div class="nn-container container-blue">
												<div class="content-padding">
													<h4>Super resolution CNN</h4>
													<label>Looses: 12%</label>
													<label>Progress: 23%</label>
													<label>Remain: 9 hours</label>
												</div>
												
											</div>
										</a>
									</div>
									<div class="col-lg-6">
										<a href="#" style="margin:0;">
											<div class="nn-container container-blue">
												<div class="content-padding">
													<h4>InceptionNet V3</h4>
													<label>Looses: 3.4%</label>
													<label>Progress: 86%</label>
													<label>Remain: 1.2 hours</label>
												</div>
												
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
	</body>
	<!-- footer -->
	<footer>
		<div class="container margin-30">
			<p class="text-center">We are in social networks</p>
			<div class="center-container margin-10">
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/facebook.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/google_plus.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/youtube.png"></a></div>
				<div class="center-item padding-rl-5"><a href="#"><img class="social" src="img/social/twitter.png"></a></div>
			</div>
		</div>

	</footer>
	<!-- footer end -->

</html>