		<div class="container">
			<div class="content">
				<h1 class="text-center">About</h1>	
				<p>
					This site was designed as a laboratory work for discipline - the development of server applications. At the moment you can use it without any restrictions.
				</p>
				<div class="margin-40">
					<h2 class="text-center">What is it?</h2>	
					<p>
						This web service is based on the Keras deep learning library and is designed to develop and teach artificial neural networks right in the browser. When developing, we tried to follow the following principles:
					</p>
					<div class="row margin-20">
						<div class="col-lg-4">
							<h4 class="text-center">Learning in the<br>cloud</h4>
							<p class="text-center">
								This comprehensive and cutting-edge book portrays a vision of how digital media can help transform schools.
							</p>
						</div>
						<div class="col-lg-4">
							<h4 class="text-center">User-friendly<br>interface</h4>
							<p class="text-center">
								Menu-driven programs, for example, are considered more user-friendly than command-driven systems. Graphical user interfaces (GUIs) are also considered user-friendly.
							</p>
						</div>
						<div class="col-lg-4">
							<h4 class="text-center">Quick model<br>creation</h4>
							<p class="text-center">
								The modeller can verify the data, edit river cross-section features and geometry within the software, and then re-export to run in hydraulic model format.
							</p>
						</div>
					</div>
				</div>
				
				<p>
					I would like to develop this project, therefore, as a gratitude for a free resource, I accept your comments on <a href="mailto:zelinskiy.antony@volsu.ru">zelinsky.antony@volsu.ru</a>
				</p>
			</div>
		</div>
	