
		<div class="container">
			
			<div class="content">
					<div class="btn-group manage-area">
						<a class="btn btn-bar active" href="#">Learning now</a>
						<a class="btn btn-bar" href="#">Ended</a>
					</div>
				<hr class="margin-0">
				<div class="content-padding">
					<h2>Learning now</h2>
					<div class="nn-rows">
						
						<a href="#" style="margin:0;">
							<div class="nn-container container-green">
								<div class="content-padding">
									<h4>Super resolution CNN</h4>
									<label>Looses: 12%</label>
									<label>Progress: 23%</label>
									<label>Remain: 9 hours</label>
								</div>
									
								<div class="nn-loader" style="width:23%"></div>
							</div>
						</a>
						<a href="#" style="margin:0;">
							<div class="nn-container container-green">
								<div class="content-padding">
									<h4>InceptionNet V3</h4>
									<label>Looses: 3.4%</label>
									<label>Progress: 86%</label>
									<label>Remain: 1.2 hours</label>
								</div>
									
								<div class="nn-loader" style="width:86%"></div>
							</div>
						</a>
						<a href="#" style="margin:0;">
							<div class="nn-container container-green">
								<div class="content-padding">
									<h4>Convolution Yu-Net-50</h4>
									<label>Looses: 37%</label>
									<label>Progress: 58%</label>
									<label>Remain: 23 hours</label>
								</div>
								<div class="nn-loader" style="width:58%"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
