{% extends "wrapper/wrapp.html" %}

{% block content %}

        {% if True %}
            {% include "wrapper/headerin.html" %}
        {% else %}
            {% include "wrapper/headerout.html" %}
        {% endif %}

		<div class="container">
			<div class="content">
				<h1 class="text-center">How to start</h1>
				<div class="center-container">
					<div class="center-item">
					<button class="prev"><img src="/static/img/how_to_start/before-arrow.png"></button>
					<div class="slick-navigator"></div>
					<button class="next"><img src="/static/img/how_to_start/next-arrow.png"></button>
					</div>
				</div>
				<hr class="slider">

				<div class="s1">
					<div>
						<h3 class="text-center margin-20">1. Move to laboratory</h3>
						<p class="">Go to the laboratory and click create new training.</p>
						<p>Choosing the correct linear regression model can be difficult. After all, the world and how it works is complex. Trying to model it with only a sample doesn’t make it any easier. In this post, I'll review some common statistical methods for selecting models, complications you may face, and provide some practical advice for choosing the best regression model.</p>
					</div>
					<div>
						<h3 class="text-center margin-20">2. Build a model</h3>
						<p class="">Befor training you must build NN's model. It's easy. Drug and drop layers on desktop and set up that. Than save your model.</p>
						<p>Research what others have done and incorporate those findings into constructing your model. Before beginning the regression analysis, develop an idea of what the important variables are along with their relationships, coefficient signs, and effect magnitudes. Building on the results of others makes it easier both to collect the correct data and to specify the best regression model without the need for data mining.</p>
						<p>Theoretical considerations should not be discarded based solely on statistical measures. After you fit your model, determine whether it aligns with theory and possibly make adjustments. For example, based on theory, you might include a predictor in the model even if its p-value is not significant. If any of the coefficient signs contradict theory, investigate and either change your model or explain the inconsistency.</p>
					</div>
					<div>
						<h3 class="text-center margin-20">3. Start training</h3>
						<p class="">Click the start button in NN's setings page and  wait the results.</p>
						<p>It's possible that you're using the correct model but the Response Optimizer is unaware of the lower boundary. I've seen cases where the Response Optimizer finds a solution below the minimum observed response value in a dataset. This could be happening in your case and producing values that are impossible.</p>
					</div>
				</div>
				<hr class="slider">
				<h3 class="text-center">Training samples</h3>
				<p>You must prepare training sample or take already ready</p>
			</div>
		</div>

{% endblock %}
