html {
  overflow-y: scroll;
}

body{
	padding: 0;
	margin: 0;
	background: #f2f2f2;
	font-family: "Agency FB" !important;
	font-weight: 100;
	color:#333;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px 15px 15px 0px;
	font-weight: 800;
	text-indent: 0px;
}

h1{
	margin:20px 0 10px 0;
	padding: 0;
}

h4.headname{
	margin: 0;
	padding:5px 0 0 0;
	text-align: center;
	color: #49b45d;
}

.text-center{
	text-indent: 0px;
	text-align: center;

}

p{
	font-size: 20px;
	text-indent: 30px;
	margin: 0px;
}

p.label{
	margin: 0;
	text-indent: 0px;
	font-size: 20px;
}

small{
	font-size: 15px;
}

a{
	margin-right: 15px;
	font-size: 20px;
	text-decoration: none;
}

ul.menu hr{
	margin-top:3px;
	margin-bottom:3px;
}

	
ul.menu{
	padding-top:3px;
	padding-bottom:3px;
	margin:0;
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.1);
	border-radius: 2px;
}

ul.menu > a{
	padding-top: 1px;
	height: 30px;
	padding-left: 15px;
	font-size:19px;
	transition:0.2s;
}

ul.menu > a:hover{
	background-color: #dcdcdc;
	color:#000;
}

ul.menu > .active{
	background-color: #4d59a1;
}

a:hover{
	text-decoration: none;
}
	
a.white_link{
	color: #FFF;
	transition:0.2s;
}

a.white_link:hover{
	color: #77be84;
}

ul.nav > li> a.active{
	color: #77be84 !important;
}

a.blue_link{
	color: #7e8ce2;	
}

a.blue_link:hover{
	color: #6a78cf;
	transition:0.2s;

}

.navbar{
	font-weight: 100;
	font-size: 14px;
	padding: 0;
}
.navbar-inverse{
	background: #414141;
	border-color: #2d2d2d;
}

.nav > li{
	margin:10px 20px 10px 0;
}

.btn{
	border-radius: 0px;
	font-size: 20px;
	border-color: rgba(0,0,0,0.25);
	box-shadow: none;
	transition: 0.3s;
	height:100%;
	max-height: 50px;
}

.btn:focus{
	box-shadow: none;
	border: 1px solid rgb(119,190,132);
}

.btn-blue{
	color: #fff !important;
	background-color: #4d59a1;
	padding: 0px 30px 0px 30px;
}

.btn-blue:hover{
	background-color: #374283;
	color: #fff;
}

.btn-white{
	color: #000;
	background-color: #FFF;
	padding: 0px 30px 0px 30px;
}

.btn-white:hover{
	background-color: #49b45d;
	color: #fff;
}

.btn-shadow{
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.4);
}

.btn-bar{
	margin:0;
	padding-top:4px;
	height: 100%;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid rgba(119,190,132,0);
	color:#000;
}

.btn-bar:hover{
	color:#000;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid rgb(119,190,132);
}

.btn-bar:focus{
	border-radius: 0;
	background-color: #fff;
	border: 1px solid rgba(119,190,132, 0);
}

.btn-group .active{
	background-color: #4d59a1;
	color:#fff;
}

.btn-group .active:hover{
	background-color: #374283;
	color:#fff;
}

.content{
	margin: 15px 0 15px 0px;
	background: #fff;
	border: 1px solid rgb(200,200,200);
	padding: 0px 0 0px 0;
}

.btn-content{
	margin: 15px 0 15px 0px;
	background: #fff;
	border: 1px solid rgb(200,200,200);
	padding-top:0; 
	padding-left:0; 
	padding-right:0;
}

.manage-area{
	height: 40px;
}

.padding-null{
	padding: 0;
}

.margin-40{
	margin-top:40px;
	margin-bottom: 40px;
}

.margin-30{
	margin-top:30px;
	margin-bottom: 30px;
}

.margin-20{
	margin-top:20px;
	margin-bottom: 20px;
}

.margin-10{
	margin-top:10px;
	margin-bottom: 10px;
}

.margin-0{
	margin-top: 0px;
	margin-bottom: 0px;
}

.padding-rl-5{
	padding-left:5px;
	padding-right: 5px;
}


.center-container{
	text-align: center;
}

.center-item {
    display: inline-block;
}

.social{
	display: inline-block;
    height: 35px;
}

.middle-block{
	width:40px;
	margin:auto;
}

.image-max{
	max-width: 100%;
}

.form-control{
	border-radius: 2px;
	box-shadow: none;
	border: 1px solid rgba(0,0,0,0.25);
	trnsition:0.3s;
	height:32px;
}


.form-control:focus{
	box-shadow: none;
	border: 1px solid rgb(119,190,132);
}

.form-control-min{
	min-width:250px;
	margin-right:15px;
}

.content-padding{
	padding:15px;
}

.button-sign{
	min-width: 100%;
	margin-bottom: 0px;
}

#icon{
	height:60px;
}

/* hiver a:focus*/

.nn-graph-container{
	margin: 0px 0px 5px 0px;
	color:#000;
	padding:0;
	border: 1px solid rgb(119,190,132);
	border-color: #97c89a;
	transition:0.3s;
}


.nn-container{
	margin: 0px -7.5px 15px -7.5px;
	color:#000;
	padding:0;
	border: 1px solid rgb(119,190,132);
	transition:0.3s;
}


.container-green{
	border-color: #97c89a;
}

.container-green:hover{
	background-color: #e7f4e9;

}

.container-blue{
	border-color: #4d59a1;
}

.container-blue:hover{
	background-color: #eef0f7;
}

.nn-container h4{
	margin-bottom: 0px;
	padding-bottom: 0px;
}


label{
	margin: 0px 0px 0px 0px;
	font-size: 16px;
}

.nn-loader{
	height: 10px;
	background-color: #49b45d;
}

.nn-rows{
	margin:0 8px 0 8px;
}