@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li
{

    position: relative;

    vertical-align: middle;
    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 10px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 100%;
    height: 100%;
    padding: 5px;

    background-color: #fff;
    box-shadow: inset 0 5px 3px 0 rgba(0,0,0,0.3);

    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 50%;

    transition: 0.3s;
}


li.slick-active > button{
    border: 1px solid rgb(119,190,132);
    background-color: #4d59a1;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(119,190,132);
}

.slick-navigator{
    display: inline-block;
    outline: none;
}

.prev, .next{
    margin:10px 10px 0 10px;
    height:30px;
    display: inline-block;
    background: transparent;
    border: none;
    box-shadow: none;
}

.prev:hover, .next:hover{
    cursor: pointer
}

.prev:focus, .next:focus{
    outline: none;
}

hr.slider{
    width:50%;
}