<div class="content-padding">
    <h2>Complite</h2>
    <div class="nn-rows">
    {% if len is True %}
        <p>Nothing is complite</p>
    {% endif %}
        {% for nn in nn_list%}
        <a href="/laboratory/nn/{{ nn.id }}/" style="margin:0;">
            <div class="nn-container container-blue">
                <div class="content-padding">
                    <h4>{{ nn.name }}</h4>
                    <label>Looses: {{ nn.loosing }}%</label>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>