<div class="content-padding">
    <h2>Learning now</h2>
    <div class="nn-rows">
    {% if len is True %}
        <p>Nothing is learning</p>
    {% endif %}
        {% for nn in nn_list%}
            <a href="/laboratory/nn/{{ nn.id }}/" style="margin:0;">
            <div class="nn-container container-green">
                <div class="content-padding">
                    <h4>{{ nn.name }}</h4>
                    <label>Looses: {{ nn.loosing }}%</label>
                    <label>Progress: {{ nn.progress }}%</label>
                    <label>Remain: {{ nn_training.remain }}</label>
                </div>
                <div class="nn-loader" style="width:{{ nn.progress }}%"></div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>