<div class="btn-content">
    <div class="manage-area">
        <h4 class="headname">Username</h4>
    </div>
    <hr class="margin-0">
    <ul class="menu" style="box-shadow:none; padding-left:0;">
            <a class="dropdown-item {% if pagename == "Profile" %} active {% endif %}" href="/cabinet">Profile</a>
            <a class="dropdown-item {% if pagename == "Settings" %} active {% endif %}" href="/cabinet/settings/">Settings</a>
            <hr>
            <a class="dropdown-item" href="#">Log out</a>
    </ul>
</div>