
    <div class="content-padding">
        <h2>Learning now</h2>
        <div class="nn-rows">
            <div class="row">

                {% for nn in nn_learning %}
                    <div class="col-lg-6">
                        <a href="#" style="margin:0;">
                            <div class="nn-container container-green">
                                <div class="content-padding">
                                    <h4>{{ nn.name }}</h4>
                                    <label>Looses: {{ nn.loosing }}%</label>
                                    <label>Progress: {{ nn.progress }}%</label>
                                    <label>Remain: {{ nn.remain }} hours</label>
                                </div>
                                <div class="nn-loader" style="width:{{ nn.progress }}%"></div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
        <h2>Was ended</h2>
        <div class="nn-rows">
            <div class="row">

                {% for nn in nn_ended %}
                    <div class="col-lg-6">
                        <a href="#" style="margin:0;">
                            <div class="nn-container container-blue">
                                <div class="content-padding">
                                    <h4>{{ nn.name }}</h4>
                                    <label>Looses: {{ nn.loosing }}%</label>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
