
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand padding-null" href=""><img id="icon" src="/static/img/wrapper/icon.png"></img></a>
        </div>
        <ul class="nav">
            <li><a class="white_link {% if pagename == "About" %} active {% endif %}" href="/">About</a></li>
            <li><a class="white_link {% if pagename == "How to start" %} active {% endif %}" href="/how_to_start">How to Start</a></li>
            <li>
                <a class="btn btn-white btn-shadow" href="/laboratory/" style="margin:0">Laboratory</a>
            </li>
            <li style="margin-right:0">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle btn btn-blue btn-shadow" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ request.user.username }}</button>
                    <ul class="dropdown-menu dropdown-menu-right menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="/cabinet/">Profile</a>
                        <a class="dropdown-item" href="/cabinet/settings/">Settings</a>
                        <hr>
                        <a class="dropdown-item" href="/logout/">Log out</a>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
