		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand padding-null" href="#"><img id="icon" src="/static/img/wrapper/icon.png"></a>
				</div>
				<ul class="nav">
					<li><a class="white_link {% if pagename == "About" %} active {% endif %}" href="/">About</a></li>
					<li><a class="white_link {% if pagename == "How to start" %} active {% endif %}" href="/how_to_start">How to Start</a></li>
					<li><a class="btn btn-blue btn-shadow" href="/login/">Log in</a></li>
					<li><a class="blue_link"  href="/signup/">Sign up</a></li>
				</ul>
			</div>
		</div>
